<%= form_for([@course, @assignment, @assignment_result], :multipart => true) do |f| %>
  <% if @assignment_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment_result.errors.count, "error") %> prohibited this assignment_result from being saved:</h2>

      <ul>
      <% @assignment_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source %><br>
    <%= f.file_field :source %>
  </div>
  <div class="field">
    <%= f.label :pass %><br>
    <%= f.check_box :pass, :disabled => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
