<p id="notice"><%= notice %></p>

<p>
  <strong>Enrollment:</strong>
  <%= @assignment_result.enrollment_id %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @assignment_result.assignment_id %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @assignment_result.pass %>
</p>
<% unless @assignment_result.locked? %>
<%= link_to 'Edit', edit_course_assignment_assignment_result_path(@course, @assignment, @assignment_result) %> | <% end %>
<%= link_to 'Back', [@course, @assignment] %>
