<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @assignment.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @assignment.content %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<% if can? :manage, @course %>
<p>
	<strong>Source:</strong>
	<%= raw CodeRay.scan(@assignment.source, :cplusplus).div(:line_numbers => :table) %>
</p>

<% end %>

<h3>Results:</h3>
<ul>
<% @assignment.assignment_results.each do |r| %>
  <% if r.enrollment.id == @current_enrollment.id %>
  <li><%= render partial: 'assignment_results/assignment_result', locals: {ar: r} %></li>
  <% end %>
<% end %>
</ul>


<% content_for :sidebar do %>    
	<%= render 'sidebar' %>	
<% end %>