<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @assignment.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @assignment.content %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
