<%= form_for([@course, @course.enrollments.new]) do |f| %>
  

  <div class="field">
    <%= f.label :email %><br>
    <%= collection_select(:enrollment, :user_id, User.all, :id, :email) %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= select(:enrollment, :role, [['Giảng viên','teacher'],['Sinh viên', 'student']]) %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
