<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @enrollment.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @enrollment.course %>
</p>

<p>
  <strong>Role:</strong>
  <%= @enrollment.role %>
</p>

<%= link_to 'Edit', edit_course_enrollment_path(@course, @enrollment) %> |
<%= link_to 'Back', course_enrollments_path(@course) %>
