<%= form_for([@course, @assignment, @assignment.assignment_configs.new], :multipart => true) do |f| %>  
  
  <div class="field">
    <%= f.label :input %><br>
    <%= f.file_field :input %>
  </div>
  <div>
    <%= f.label :source %><br />
    <%= raw CodeRay.scan(@assignment.source, :cplusplus).div(:line_numbers => :table) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
