<%= form_for([@course, @assignment, @assignment_config], :multipart => true) do |f| %>
  <% if @assignment_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment_config.errors.count, "error") %> prohibited this assignment_config from being saved:</h2>

      <ul>
      <% @assignment_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :input %><br>
    <%= f.file_field :input %>
  </div>
  <div>
    <%= f.label :output %><br/>
    <%= @assignment_config.output %>
  </div>
  <div>
    <%= f.label :source %><br />
    <%= raw CodeRay.scan(@assignment.source, :cplusplus).div(:line_numbers => :table) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
