<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment:</strong>
  <%= @assignment_config.assignment_id %>
</p>

<p>
  <strong>Input:</strong>
  <%= @assignment_config.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @assignment_config.output %>
</p>

<%= link_to 'Edit', edit_course_assignment_assignment_config_path(@course, @assignment, @assignment_config) %> |
<%= link_to 'Back', course_assignment_assignment_configs_path(@course, @assignment) %>
