<div class="row">
	<div class="span6">
<h3>Giảng viên:</h3>
<% if @course.enrollments.where(role: :teacher).count > 0 %>
	<ul>
		<% @course.enrollments.where(role: :teacher).each do |en| %>
			<li><%= link_to en.user.email, [@course, en] %> 
			<% if can? :manage, @course %>
				 | <%= link_to 'Delete', [@course, en], method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger' %>
			<% end %>
			</li>
		<% end %>
	</ul>
<% end %>
</div>
<div class="span6">
<h3>Sinh viên:</h3>
<% if @course.enrollments.where(role: :student).count > 0 %>
	<ul>
		<% @course.enrollments.where(role: :student).each do |en| %>
			<li><%= link_to en.user.email, [@course, en] %> 
			<% if can? :manage, @course %>
				| <%= link_to 'Delete', [@course, en], method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger' %>
			<% end %> </li>
		<% end %>
	</ul>
<% end %>
</div>
</div>
<% if can? :manage, @course %>
<div class="row">
	<h2>Phân quyền</h2>	
	<%= render 'enrollments/form' %>
</div>
<% end %>